@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --white: #fffff4;
    --red: #DB162F;
    --lavender: #E5D4ED;
    --black: #090C02;
    --slate: #232b2b;
    --violet: #2A1E5C;
    --yellow: #FFED65;
    --font: "Roboto", sans-serif;
    --shadow: rgba(23, 24, 24, 0.747);

}

.home-bg{
    background-image: radial-gradient(rgba(230, 238, 238, 0.603),
    rgba(150, 134, 132, 0.02)), url(/static/img/background-img3.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
    font-family: var(--font);
    font-weight: bold;
}

nav {
    top: 0;
    z-index: 100;
    position: fixed;
    background-color: var(--shadow);
}

.nav-colour{
    color:var(--white);
}


.container {
    margin: 0 auto;
}


.home-hero-h1 {
    letter-spacing: 1rem;
    margin-top: 100px;
}

.main-heading {
    color: var(--black);
    text-transform: uppercase;
    margin-top: 40px;
}


.home-paragpaph {
    margin-bottom: 3rem;
    text-transform: none;
    font-size: 1.5rem;
    font-weight: 100;
}

.home-button {
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    background-color: var(--slate);
    text-align: center;
    transition: all 0.2s;
}

.home-button:hover {
    background-color: var(--black);
}

.trending-films{
    margin-bottom: 0;
}

.home-sub-heading{
    text-transform: uppercase;
    margin-top: 100px;
}
.login-section {
    margin-top: 7rem;
}

.log-container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.login-buttons {
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    background-color: var(--slate);
    text-align: center;
    transition: all 0.2s;
}

.login-buttons:hover {
    background-color: var(--black);
}

.submit-buttons{
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    background-color: var(--slate);
    text-align: center;
    transition: all 0.2s;
}


.card .card-content .card-title{
    display: inline;
}
.card .card-content{
    text-align: center;
    padding: 5px;
}
.raiting{
    float: right;
}
.card{
    border-radius: 2.5rem;
    background-color: var(--slate);
    box-shadow: var(--shadow);

}
.card:hover{
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.938), 0 3px 1px -2px rgb(247, 247, 247), 0 1px 5px 0 rgb(255, 255, 255);
}
.card .card-image img{
    border-radius: 2.5rem;
}
.card .card-image{
    border-radius: 2.5rem;
}
.card .card-image{
    box-shadow: var(--shadow);
}

.film-genre p{
    position: absolute;
    background-color: var(--yellow);
    top: 20px;
    right: 15px;
    border-radius: 5px;
    padding: 0 5px;
    opacity: 0.9;
}

.films-h1{
    margin-top: 100px;
    text-transform: uppercase;
}
.film-card-synopsis{
    text-align: center;
    font-size: 1.2rem;
}

.film-title{
    font-size: 17px;
    color: var(--white);
}

.film-card-divider{
    height: 2px;
    background-color: var(--red);
    border-radius: 6px;
    border: 1px solid var(--red);
    margin-bottom: 4rem;
    
}
.film-card-margin{
    margin-top: 2rem;
}
.add-film-card{
    background-color: var(--shadow);
}
.page-footer{
    padding-top: 0;
    background-color: var(--slate);
}

.divider{
    background-color: var(--black);
}

.margin-top-large{
    margin-top: 40px;
}

.margin-top-medium{
    margin-top: 30px;
}

.margin-top-small{
    margin-top: 20px;
}

.social{
    font-size: 20px;
    padding-right: 10px;
    color: var(--white);
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box{
    border: 2px solid var(--black);
    border-radius: 10rem;
    background-color: var(--shadow);
    width: 90%;
    margin: 36px auto;
}
.search-input{
    flex-grow: 1 !important;
    font-size: 1rem !important;
    padding: 0 0.75rem !important;
    background: transparent !important;
    outline: 0 !important;
    border: none !important;
    color: var(--white);
}
.search-input:focus{
    outline: none !important;
    width: 87% !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.search-bar{
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: var(--white);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding-right: 20px;
}