@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --white: #fff;
    --red: #DB162F;
    --lavender: #E5D4ED;
    --black: #090C02;
    --violet: #2A1E5C;
    --yellow: #FFED65;
    --font: "Roboto", sans-serif;


}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
    font-family: var(--font);
    font-weight: bold;

}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    margin: 0 auto;
}

.home-container {
    display: flex;
    width: 85%;
    height: 38rem;
    margin-top: 2rem;
    margin-left: 100px;
}

.hero-home-img {
    background-image: url(/static/img/background-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 1.5rem;
    width: 100%;
}

.home-hero-h1 {
    letter-spacing: 1rem;
}

.main-heading {
    color: var(--black);
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.home-paragpaph {
    margin-bottom: 3rem;
    text-transform: none;
    font-size: 1.5rem;
    font-weight: 100;
}

.login-section {
    margin-top: 7rem;
}

.log-container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.login-buttons {
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    transition: all 0.2s;
}

.login-buttons:hover {
    background-color: #4095c6;
}

.home-button {
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    transition: all 0.2s;
}

.submit-buttons{
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    transition: all 0.2s;
}

.home-button:hover {
    background-color: #4095c6;
}

.card .card-content .card-title{
    display: inline;
}
.raiting{
    float: right;
}
.card{
    border-radius: 2.5rem;
}
.card .card-image img{
    border-radius: 2.5rem;
}
.card .card-image{
    border-radius: 2.5rem;
}
.film-genre p{
    position: absolute;
    background-color: var(--yellow);
    top: 20px;
    right: 15px;
    border-radius: 5px;
    padding: 0 5px;
    opacity: 0.9;
}
