{% extends "base.html" %}
{% block content %}
<!-- Background Image -->
<div class="bg-1">
    <div class="container margin-top-large media-h1">
        <h1 class=" films-h1 uppercase center-align margin-bottom-large">Add Film</h1>
        <div class="card add-film-card row">
            <form class="col s12 margin-top-medium" method="POST" action="{{ url_for('add_film') }}">
                <!-- Film Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-film prefix text-darken-4"></i>
                        <input id="film_name" name="film_name" type="text" minlength="1" maxlength="20" class="validate"
                            placeholder="Movie Title" required>
                        <label for="film_name">Film Name <i class="fas fa-question-circle tooltipped"
                                data-position="top" data-tooltip="1-20 characters"></i><i
                                class="fas fa-asterisk asterisk"></i></label>
                    </div>
                </div>
                <!-- Film Synopsis -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-info prefix "></i>
                        <textarea id="film_synopsis" name="film_synopsis" minlength="5" maxlength="200"
                            class="materialize-textarea validate"
                            placeholder="Write a summary of the plot and story of your screenplay" required></textarea>
                        <label for="film_synopsis">Film Synopsis <i class="fas fa-question-circle tooltipped"
                                data-position="top" data-tooltip="Between 5 & 200 characters"></i><i
                                class="fas fa-asterisk asterisk"></i></label>
                    </div>
                </div>
                <!-- Film Genre -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-theater-masks prefix "></i>
                        <select id="film_genre" name="film_genre" class="validate" required>
                            <option value="" disabled selected>Choose your Genre</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Horror">Horror</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Fiction">Fiction</option>
                            <option value="Drama">Drama</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Animation">Animation</option>
                            <option value="Romance">Romance</option>
                            <option value="Crime">Crime</option>
                            <option value="Mystery">Mystery</option>
                        </select>
                        <label for="film_genre">Film Genre <i class="fas fa-asterisk asterisk"></i></label>
                    </div>
                </div>
                <!-- Film Year -->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-history prefix"></i>
                        <input id="film_year" name="film_year" type="number" minlength="4" maxlength="4"
                            class="validate" placeholder="Release Year" required>
                        <label for="film_year">Year <i class="fas fa-question-circle tooltipped" data-position="top"
                                data-tooltip="E.g. 2021"></i><i class="fas fa-asterisk asterisk"></i></label>
                    </div>
                    <!-- Film Raiting -->
                    <div class="input-field col s6">
                        <i class="fas fa-star prefix"></i>
                        <input id="film_raiting" name="film_raiting" type="number" minlength="1" maxlength="2"
                            class="validate" placeholder="Personal Raiting" required>
                        <label for="film_raiting">Raiting <i class="fas fa-question-circle tooltipped"
                                data-position="top" data-tooltip="1 to 10 been the best"></i><i
                                class="fas fa-asterisk asterisk"></i></label>
                    </div>
                </div>
                <!-- Film Actors -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-friends prefix"></i>
                        <textarea id="film_actors" name="film_actors" minlength="5" maxlength="200"
                            class="materialize-textarea validate" placeholder="Lead Actors" required></textarea>
                        <label for="film_actors">Cast <i class="fas fa-question-circle tooltipped" data-position="top"
                                data-tooltip="Top three lead roles seprated with a comma ','"></i><i
                                class="fas fa-asterisk asterisk"></i></label>
                    </div>
                </div>
                <!-- Film Image -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix"></i>
                        <textarea id="film_url" name="film_url" minlength="5" maxlength="500"
                            class="materialize-textarea" placeholder="Film Image url optional"></textarea>
                        <label for="film_url">Image
                            <i class="fas fa-question-circle tooltipped" data-position="top"
                                data-tooltip="You can upload your image to a free image hosting and sharing service"></i>
                        </label>
                    </div>
                </div>
                <!-- Add Film Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large submit-buttons text-shadow">
                            Add Film <i class="fas fa-ticket-alt right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}