{% extends "base.html" %}
{% block content %}
<div class="margin-top-large">
    <h1 class=" films-h1 center-align margin-bottom-large">Films</h1>
</div>

<div class="row">
    <form action="{{ url_for('search') }}" method="POST" class="col s10 offset-s1 m8 offset-m2">
        <div class="input-field">
            <input type="text" name="query" id="query" minlength="1" required>
            <label for="query">Search </label>
        </div>
        <div class="col s12">
            <button type="submit" class="btn-small">
                <i class="fas fa-search"></i> Search
            </button>
            <a href="{{ url_for('films') }}" class="btn-small">
                <i class="fas fa-redo-alt"></i> Reset
            </a>
        </div>
    </form>
</div>

<div class="row">
    {% if films|length > 0 %}


    {% for film in films %}
    {% include "placeholders/film_placeholder.html" %}
    {% endfor %}

</div>
{% else %}
<div class="center-align no-results">
    <h3>No Results Found</h3>
</div>
{% endif %}
</div>

{% endblock %}