{% extends "base.html" %}
{% block content %}

<h1 class="secondary-heading heading-black uppercase center-align">
    {{ selected_film_card.film_name }}
</h1>
<div class="divider-container hide-on-small-only">
    <hr class="divider film-card-divider"/>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="img-film-card">
            {% if selected_film_card.film_url %}
            <img src="{{ selected_film_card.film_url }}" class="responsive-img film-image" alt="Film Image">
            {% else %}
            <img src="/static/img/film-placeholder.jpeg" class="responsive-img film-image" alt="No Image Available">
            {% endif %}
        </div>
    </div>
    <div class="col s12 m6">
        <p class="film-card-synopsis">
            {{ selected_film_card.film_synopsis }}
        </p>
    </div>
</div>

{% endblock %}