{% extends "base.html" %}
{% block content %}
<div class="bg-1">
    <div class="container margin-top-large">
        <h1 class="films-h1 uppercase center-align">
            <div class="film-card-title">
            {{ selected_film_card.film_name }}
        </div>
        </h1>

    <div class="divider"></div>


        <div class="row margin-top-medium">
            <div class="col s12 m6">
                <div class="image-container">
                    {% if selected_film_card.film_url %}
                    
                    <img src="{{ selected_film_card.film_url }}" class="film-image responsive-img z-depth-2" alt="Film Image">
                    {% else %}
                    <img src="/static/img/film-placeholder.jpeg" class="film-image responsive-img z-depth-2" 
                        alt="No Image Available">
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m6 card film-card-info">
                <div class="center-align">
                    <i class="fas fa-info prefix"></i>
                    <h5>Synopsis</h5>
                    <p class="film-card-synopsis">
                        {{ selected_film_card.film_synopsis }}
                    </p>
                </div>
                <div class="row center-align film-card-margin">
                    <div class="col s6">
                        <i class="fas fa-theater-masks prefix"></i>
                        <h5>Genre</h5>
                        <p>{{ selected_film_card.film_genre }}</p>
                    </div>
                    <div class="col s6">
                        <i class="fas fa-history prefix"></i>
                        <h5>Year</h5>
                        <p>{{ selected_film_card.film_year }}</p>
                    </div>
                    <div class="col s12 film-card-margin">
                        <i class="fas fa-star prefix"></i>
                        <h5>Raiting</h5>
                        <p>{{ selected_film_card.film_raiting }}/10</p>
                    </div>
                </div>
                <div class="row center-align">
                    <i class="fas fa-user-friends prefix"></i>
                    <h5>Actors</h5>
                    <p class="film-card-actors center-align">
                        {{ selected_film_card.film_actors }}
                    </p>
                </div>
            
                    <div class="film-card-margin">
                        <p class="center-align">
                            <span class="film-created-by">Created By:</span>
                            {{ selected_film_card.created_by }}
                        </p>
                    </div>

            </div>
            <div class="row">
                <div class="col s12 m6 center-align film-card-triggers">
                    <a onclick="back()" class="btn film-card-buttons">
                        <i class="fas fa-hand-point-left"></i> back
                    </a>
                    {% if session.user|lower == selected_film_card.created_by|lower %}
                    <a class="btn film-card-buttons modal-trigger" href="#delete_modal">Delete</a>

                    <!-- Modal Structure -->
                    <div id="delete_modal" class="modal">
                        <div class="modal-content">
                            <h4>Delete!</h4>
                            <p class="margin-bottom-small">Are you sure to remove?</p>

                            <a href="" class="modal-close btn film-card-buttons">Back</a>
                            <a href="{{ url_for('delete_film', film_id=selected_film._id) }}"
                                class="modal-close btn film-card-buttons">Delete</a>

                        </div>
                    </div>
                    <a href="{{ url_for('edit_film', film_id=selected_film._id) }}"
                        class="btn film-card-buttons">Edit</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}