{% extends "base.html" %}
{% block content %}

<h1 class="secondary-heading heading-black uppercase center-align">
    {{ selected_film_card.film_name }}
</h1>
<div class="divider-container hide-on-small-only">
    <hr class="divider film-card-divider" />
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="img-film-card">
            {% if selected_film_card.film_url %}
            <img src="{{ selected_film_card.film_url }}" class="responsive-img film-image" alt="Film Image">
            {% else %}
            <img src="/static/img/film-placeholder.jpeg" class="responsive-img film-image" alt="No Image Available">
            {% endif %}
        </div>
        <div class="film-card-margin">
            <p class="center-align">
                <span class="film-created-by">Created By:</span>
                {{ selected_film_card.created_by }}
            </p>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="row center-align">
            <i class="fas fa-info"></i>
            <h5>Synopsis</h5>
            <p class="film-card-synopsis">
                {{ selected_film_card.film_synopsis }}
            </p>
        </div>
        <div class="row center-align film-card-margin">
            <div class="col s6">
                <i class="fas fa-theater-masks prefix text-darken-4"></i>
                <h5>Genre</h5>
                <p>{{ selected_film_card.film_genre }}</p>
            </div>
            <div class="col s6">
                <i class="fas fa-history prefix text-darken-4"></i>
                <h5>Year</h5>
                <p>{{ selected_film_card.film_year }}</p>
            </div>
            <div class="col s12 film-card-margin">
                <i class="fas fa-star prefix text-darken-4"></i>
                <h5>Raiting</h5>
                <p>{{ selected_film_card.film_raiting }}/10</p>
            </div>
        </div>
        <div class="row center-align">
            <i class="fas fa-user-friends prefix text-darken-4"></i>
            <h5>Actors</h5>
            <p class="film-card-actors center-align">
                {{ selected_film_card.film_actors }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s6 center-align">
            <a onclick="back()" class="btn-small">
                <i class="fas fa-hand-point-left"></i> back
            </a>
            {% if session.user|lower == selected_film_card.created_by|lower %}
            <a class="waves-effect waves-light btn modal-trigger" href="#delete_modal">Delete</a>

            <!-- Modal Structure -->
            <div id="delete_modal" class="modal">
                <div class="modal-content">
                    <h4>Delete!</h4>
                    <p>Are you sure to remove?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="modal-close waves-effect waves-green btn-flat">Back</a>
                    <a href="{{ url_for('delete_film', film_id=selected_film._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                    
                </div>
            </div>
            <a href="{{ url_for('edit_film', film_id=selected_film._id) }}"
                class="btn-small light-blue lighten-1">Edit</a>
            
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}