{% extends "base.html" %}
{% block content %}
<div class="margin-top-large">
    <h1 class=" films-h1 center-align margin-bottom-large">Films</h1>
</div>

{% for film in films %}
        {{ film.film_name}}<br>
        {{ film.film_year}}<br>
        {{ film.film_genre}}<br>
        {{ film.film_actors}}<br>
        {{ film.film_raiting}}<br>
        {{ film.film_synopsis}}<br>
        {{ film.film_url}}<br>
    {% endfor %}

    <div class="row">
    <div class="col s12 m6 l3 ">
        <div class="card">
            <div class="card-image z-depth-3">
                <img src="/static/img/film-placeholder.jpeg" class="responsive-img film-image">
            </div>
            <div class="card-content">
                <div class="card-title">
                    <span class="film-title">
                        Incepton
                    </span>
                    <span class="raiting">
                        <i class="material-icons">star</i> 7/10
                    </span>
                </div>
                <div class="row"></div>
                <span class="synopsis-title">Synopsis</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                    require little markup to use effectively.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}