{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="main-heading center-align">
            <h1 class="uppercase home-hero-h1">Simply Films</h1>
            <p class="home-paragpaph">
                Where Movie Lovers Belong
            </p>
            <a class="waves-effect waves-light home-button btn-large">Browse Our Films</a>
        </div>
    </div>
    <div class="row trending-films">
        <h4 class="home-sub-heading center-align">Trending Films </h4>
    </div>
    <div class="divider"></div>
    <div class="row margin-top-large">
        {% for film in trending_films %}
        {% include "placeholders/film_placeholder.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}