{% extends "base.html" %}
{% block content %}

<div class="home-container">
    <div class="hero-home-img">
        <div class="main-heading center-align">
            <h1 class="uppercase home-hero-h1">Simply Films</h1>
            <p class="home-paragpaph">
                Where Movie Lovers Belong
            </p>
            <a class="waves-effect waves-light home-button btn-large">Browse Our Films</a>
        </div>
    </div>
</div>

<div class="container-subheading">
    <h2 class="home-sub-heading center-align">Trending Films </h2>
    <div class="divider"></div>
</div>
<div class="container-films">
    <div class="row">
        
    </div>
</div>
{% endblock %}