{% extends "base.html" %}
{% block content %}
<div class="home-bg">
    <div class="container margin-top-large">
        <div class="username-container">
            <h1 class=" films-h1 center-align margin-bottom-large">{{ username }}</h1>
        </div>

        <section>
            <div class="row">
                <h3 class="center-align margin-bottom-large uppercase">My films 
                    <a href="{{ url_for('add_film') }}" class="btn-floating btn-medium"><i
                            class="material-icons">add</i></a></h3>

            </div>
            <div class="row">
                {% for film in my_films %}
                {% include "placeholders/film_placeholder.html" %}
                {% else %}
                <h5 class="center-align">
                    You haven't added any films yet. Click below to get started!
                </h5>
                <div class="row center-align margin-top-large">
                    <a href="{{ url_for('films') }}" class="waves-effect waves-light home-button btn-large"><i
                            class="fas fa-plus"></i> Add film</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <ul class="pagination center-align margin-bottom-large">
        {% for page_num in pages %}
        {% if page_num == current_page %}
        <li class="active"><a>{{ page_num }}</a></li>
        {% else %}
        <li class="waves-effect">
            <a href="{{ url_for('manage_films', current_page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}