{% extends "base.html" %}
{% block content %}
<div class="margin-top-large">
    <h1 class=" films-h1 center-align margin-bottom-large">{{ username }}</h1>

</div>
<section>
    <h3 class="center-align margin-bottom-large">My Films</h3>
    <hr>

    <a href="{{ url_for('add_film') }}" class="btn-small"><i class="fas fa-plus"></i> Add film</a>

    <div class="row">
        {% for film in my_films %}
        {% include "placeholders/film_placeholder.html" %}
        {% endfor %}
    </div>
</section>

{% endblock %}