<div class="col s12 m6 l3">

    <div class="card">
        <div class="card-image">
            <a href="{{ url_for('film_card', film_id=film._id) }}">
                {% if film.film_url %}
                <img src="{{ film.film_url}}" class="film-placeholder-responsive" alt="Film Image">
                {% else %}
                <img src="/static/img/film-placeholder.jpeg" class="film-placeholder-responsive"alt="No Image Available">
                {% endif %}
            </a>
        </div>
        <div class="film-genre">
            <p>
                {{ film.film_genre }}
            </p>
        </div>
        <div class="card-content">
            <div class="card-title">
                <span class="film-title">
                    {{ film.film_name }}
                </span>
            </div>
            
        </div>
    </div>

</div>